body,
html {
  text-align: center;
  background-color: #252424;
  font-family: "Noto Sans", sans-serif;
  min-height: 100vh;
  letter-spacing: 5px;
  color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  position: relative;
}

.intro {
  height: 100vh;
  width: 100vw;
}

.capture {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.snap {
  z-index: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  padding: 10px;
  height: 70%;
}

.header {
  align-self: flex-start;
  width: 50%;
  z-index: 0;
  position: absolute;
  display: flex;
}

.nav {
  max-width: 95%;
  display: flex;
  justify-content: flex-end;
}

.delete {
  border-radius: 50%;
  border: none;
  max-width: 30px;
  max-height: 30px;
  position: absolute;
  padding: 0px;
  display: flex;
  right: 30%;
}

.img-display {
  width: 45%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.notis--btn--on {
  background-color: #252424;
  border: white 3px solid;
  border-radius: 3px;
  padding: 7px 15px;
  color: white;
}

.notis--btn--off {
  background-color: #252424;
  border: rgb(204, 245, 252) 3px solid;
  border-radius: 3px;
  padding: 7px 15px;
  color: white;
}

.primary {
  background-color: rgb(255, 255, 255);
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  height: 100px;
  margin-top: 50%;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
}
